.container-Perfil{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  aside{
      width: 500px;
      height: 600px;
      padding: 16px;
      border-radius: 16px;
      background-color: gainsboro;
      display: flex;
      justify-content: center;
      div {
        padding: 16px;
      }
  }
}


